<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzys.rabbitmq.dao.RabbitmqConsumerRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzys.rabbitmq.entity.po.RabbitmqConsumerRecord">
        <id column="id" property="id" />
        <result column="queue_name" property="queueName" />
        <result column="origin_param" property="originParam" />
        <result column="result" property="result" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="message_id" property="messageId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, queue_name, origin_param, result, created_time, updated_time, created_by, updated_by, message_id
    </sql>
    <update id="updateResult">
        update rabbitmq_consumer_record set result = #{result} where message_id = #{messageId}
    </update>

</mapper>
